.estates-container {
    width: 100%;
    display: flex; /* Usamos flexbox */
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten a múltiples filas */
    gap: 1px; /* Espacio entre tarjetas */
    padding: 10px; /* Espaciado interior */
  }
  
  .estate-item {
    flex: 1 1 calc(30% - 3px); /* Ajustar para que haya tres tarjetas por fila, considerando el gap */
    max-width: calc(30% - 2px); /* Limita el ancho máximo */
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
  }
  
  .estate-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2px; /* Reducir padding */
    background-color: #fff;
    transition: transform 0.3s;
    display: flex; /* Para usar flexbox dentro de la tarjeta */
    flex-direction: column; /* Alinea los elementos en columna */
    height: 300px; /* Fijar una altura uniforme, reducido a 350px */
  }
  
  .estate-card:hover {
    transform: scale(1.05); /* Efecto de hover */
  }
  
  .image-container {
    text-align: center; /* Centra la imagen dentro de su contenedor */
    margin-bottom: 5px; /* Espacio debajo de la imagen reducido */
    flex-shrink: 0; /* Evitar que la imagen se reduzca */
    height: 150px; /* Altura fija para la imagen, reducido a 150px */
    overflow: hidden; /* Oculta el desbordamiento */
  }
  
  .property-image {
    width: 100%     ; /* Ajusta al tamaño del contenedor de la imagen */
    height: 100%; /* Llena el contenedor de imagen */
    object-fit: cover; /* Mantiene la proporción de la imagen y recorta si es necesario */
    border-radius: 5px; /* Bordes redondeados */
  }
  