<nav id="navBar">
    <a href="index.html"><img src="../assets/logo.png" alt="" class="logo"></a>
    <ul class="nav-links">

        <li><a href="popularplaces.html"> Lugares populares</a></li>
        <li><a href="internationaltravel.html"> Viaja al exterior</a></li>
        <li><a href="onlinepackages.html"> Paquetes en linea</a></li>

    </ul>
    <a 
    
     href="../HTML/login.html" class="login-btn"> Iniciar sesion</a>
    <i class="fa-solid fa-bars" onclick="togglebtn()"></i>
    <a href="estate.html"><i class="fa-solid fa-hotel"></i></a>
    <a href="profile.html"><i class="fa-solid fa-user"></i></a>
    
</nav>